.productCard {
  background: #FF7B7B; /* Un coral más vibrante */
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.imageContainer {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px; 
}

.contentContainer {
  flex: 1;
  color: #FFFFFF;
  padding: 15px;
  background-color: rgba(192, 57, 57, 0.3); 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2); 
}

.productName {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.productDescription {
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: #FFE8E8; 
  letter-spacing: 0.5px;
}