:root {
    --caramely-red: #F2584B;
    --caramely-pink: #F1A3CE;
    --caramely-pinker: #fa0089;
    --caramely-orange: #FFB743;
    --caramely-white: #F2F2F2;
    --caramely-black: #000000;
  }
  
  